h1 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Helvetica", "Ariel",sans-serif;
  font-weight: lighter;
}

ul {
  font-family: "Helvetica", "Ariel",sans-serif;
  font-weight: lighter;
}

li {
  margin-bottom: 5px;
}

hr {
  margin-top: 5px;
}
