h1 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-weight: 500;
  font-size: 42;
}

h2, h3, h4, h5, p, ul {
  font-family: "Helvetica", "Ariel",sans-serif;
  font-weight: lighter;
}

li {
  margin-bottom: 5px;
}

hr {
  margin-top: 0px;
}
