doctype html
html
  head
    title= "Jamie Lee"
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  
  body
    h1 Jamie Lee
    div(id="navigation")
      div(class="button")
        a(href="/") HOME
      div(class="button")
        a(href="about_me") ABOUT ME
      div(class="button")
        a(href="resume") RESUME
      div(class="button")
        a(href="portfolio") PORTFOLIO
      div(class="button")
        a(href="musings") MUSINGS
      div(class="button")
        a(href="contact") CONTACT

    div(class="content-area")
      p Under Construction












