doctype html
html
  head
    title= "Jamie Lee"
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  
  body
    h1 Jamie Lee
    div(id="navigation")
      div(class="button")
        a(href="/") HOME
      div(class="button")
        a(href="about_me") ABOUT ME
      div(class="button")
        a(href="resume") RESUME
      div(class="button")
        a(href="portfolio") PORTFOLIO
      div(class="button")
        a(href="musings") MUSINGS
      div(class="button")
        a(href="contact") CONTACT

    div(id="resume")
      hr
      h2 WORK EXPERIENCE
      h3 AON HEWITT
      p
        em Atlanta, Georgia 
        <br> Set-up Configuration Specialist
        <br> January 2014 - June 2016   
      ul
        li Gained experience using DB2 database management software
        li Responsible for configuring system logic and writing SQL queries to retrieve information from databases to ensure that the company’s proprietary software is fully functional
        li Document system errors and help the team resolve them
      hr
      h2 EDUCATION
      h3 GEORGIA INSTITUTE OF TECHNOLOGY, Scheller College of Business
      p
        em Atlanta, Georgia
        <br> Bachelor of Science in Business Administration
        <br> Graduated: Fall 2013
      ul
        li Concentration: Finance | GPA: 3.7
        li Scholarships Awarded for Academic Excellence and Community Involvement: Mills B. Lane Bank of America Scholarship, Robins Federal Credit Union Most Excellent Senior Team Scholarship, R.A Bowen Trust Scholarship, Junior Women’s League Scholarship, Hope Scholarship every semester
        li Dean’s List
      hr
      h2 EXTRA-CURRICULAR ACTIVITIES
      h3 PERSONAL PROJECTS
      p
        em Atlanta, Georgia
        <br> August 2014 – Present
      ul
        li Created personal website utilizing HTML and CSS3
        li Currently working on learning server-side programming, implementing Jade programming language and Angular JS
        li Created web automation bots using Python programming language and Selenium web driver to automate web testing tasks
        li Learned Ruby programming language in less than 2 months
        li Created desktop application bots (Ruby scripts) to automate repetitive and time-consuming work tasks in order to increase personal productivity at work

      hr
      h3 SKILLS/INTERESTS
      p Java, Ruby, Python, JavaScript, HTML/CSS, Eclipse, Sublime Text 2, Github for Windows, Subversion, DB2 Database management systems, Microsoft Word, Excel, PowerPoint, Outlook, Adobe Photoshop














